runs/*
!runs/.gitkeep

datasets/*
!datasets/.gitkeep

queue/*
!queue/.gitkeep
!queue/pending/
!queue/processing/
!queue/done/
!queue/failed/

queue/pending/*
!queue/pending/.gitkeep

queue/processing/*
!queue/processing/.gitkeep

queue/done/*
!queue/done/.gitkeep

queue/failed/*
!queue/failed/.gitkeep

dashboard/*
!dashboard/.gitkeep
